.grid {
  grid-column: center-start / center-end;
}

.bgImg {
  width: 200vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('../../assets/img/bg-tablet-pattern.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left 80px top -80px;
}
