.grid {
  grid-template-rows: 8rem minmax(15rem, max-content);
  grid-auto-rows: min-content;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 9rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
}

.gridHeader {
  grid-template-rows: 8rem;
  grid-auto-rows: min-content;
  grid-template-columns:
    [full-start] 2rem [center-start] repeat(8, [col-start] 1fr [col-end])
    [center-end] 2rem [full-end];
}

.gridSection {
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  grid-template-columns:
    [full-start] 2rem [center-start] repeat(8, [col-start] 1fr [col-end])
    [center-end] 2rem [full-end];
}
