#parent {
  grid-column: full-start / full-end;
}

#heading {
  grid-column: full-start / full-end;
}

.indicators {
  grid-column: center-start / center-end;

  & > div {
    width: 9px;
    height: 9px;
    border-radius: 100px;
    border: 1px solid red;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 100%;
      height: 100%;
      background-color: white;
    }
  }
}

.activeInd {
  background-color: red !important;
}

#btn {
  grid-column: center-start / center-end;
}
